[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hello-friend-midnight"]
	path = themes/hello-friend-midnight
	url = https://github.com/triii10/hello-friend-ng-midnight.git
